@import '~bootstrap/scss/bootstrap';

html {
  display: block;
}

body {
  background-color: #fff;
  color: #333;
  font-family: verdana, arial, helvetica, sans-serif;
  font-size: 13px;
  line-height: 13px;
  margin: 33px;
}

.top {
  margin: 33px;
}
